body {
    background-color: #f8f8f8;
}

a {
    color: #e34234;
}

.bdt-title {
    color: #e34234;
}

.bdt-navbar {
    background-color: #e34234;
    color: white;
}

.bdt-navbar a {
    color: white;
}

.bdt-menu > ul {
    color: #e34234;
}

.bdt-menu > ul > li {
    color: #333;
}

.bdt-menu > ul > li:active {
    color: black;
}

.bdt-card,
.bdt-box,
.bdt-center-box {
    background-color: white;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #e34234;
    padding: 1em;
}

.bdt-button {
    display: inline-block;
    background-color: #e34234;
    border-color: #e34234;
    color: white;
    text-decoration: none;
}

.bdt-button:hover {
    background-color: #e34234;
}

.bdt-elements > li:nth-child(odd) {
    background: #ffddcc;
}

.bdt-elements > li:nth-child(even) {
    background: #ffeedd;
}

.bdt-dropdown-content {
    background-color: white;
    border-color: #e34234;
}

.bdt-dropdown-content a {
    color: black;
}

.bdt-dropdown-content li:hover {
    background-color: #eee;
}

