body {
    background-color: #f8f8f8;
}

a {
    color: #555;
}

.bdt-title {
    color: #444;
}

.bdt-navbar {
    background-color: #444;
    color: white;
}

.bdt-navbar a {
    color: white;
}

.bdt-menu > ul {
    color: #444;
}

.bdt-menu > ul > li {
    color: #333;
}

.bdt-menu > ul > li:active {
    color: black;
}

.bdt-card,
.bdt-box,
.bdt-center-box {
    background-color: white;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #777;
    padding: 1em;
}

.bdt-button {
    display: inline-block;
    background-color: #bbb;
    border-color: #aaa;
    color: black;
    text-decoration: none;
}

.bdt-button:hover {
    background-color: #c5c5c5;
}

.bdt-elements > li:nth-child(odd) {
    background: #f0f0f0;
}

.bdt-elements > li:nth-child(even) {
    background: #e8e8e8;
}

.bdt-dropdown-content {
    background-color: white;
    border-color: #444;
}

.bdt-dropdown-content a {
    color: black;
}

.bdt-dropdown-content li:hover {
    background-color: #eee;
}

