/* LAYOUT */

* {
    box-sizing: border-box;
}

body {
    font-family: ubuntu, droid sans, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: auto;
    display: block;
}

.bdt-card,
.bdt-box {
    margin: 1ex;
    width: 100%;
}

.bdt-tbox {
    padding: 1ex;
    width: 100%;
}

.bdt-center-box {
    margin: 1em auto;
    max-width: 600px;
}

.bdt-block {
    float: none;
    display: block;
    width: 100%;
}

.bdt-horizontal-layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/* WIDGETS */

.bdt-title {
    display: block;
    font-family: palatino, droid serif, serif;
    font-weight: bold;
    font-size: 110%;
    margin: 0 0 1em 0;
}

.bdt-button {
    padding: 1ex;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.bdt-logo {
    font-family: 'Century Gothic';
}

/* NAVBAR */

.bdt-navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1ex 0;
}

.bdt-navbar ul {
    margin: 0;
    padding: 0;
}

.bdt-navbar li {
    display: inline-block;
    font-weight: bold;
    padding: 1ex 1em;
}

.bdt-navbar a {
    text-decoration: none;
}

.bdt-navbar a:hover {
    text-decoration: underline;
}

/* MENU */

.bdt-menu {
    display: inline-block;
    float: none;
}

.bdt-menu > ul {
    font-size: 90%;
    font-weight: bold;
    padding: 0 1em;
}

.bdt-menu > ul > li {
    font-size: 110%;
    font-weight: normal;
    display: block;
    padding: 0 1em;
    cursor: pointer;
}

.bdt-menu > ul > li:hover {
    text-decoration: underline;
}

/* ELEMENTS */

.bdt-elements {
    display: block;
    padding: 0;
}

.bdt-elements > li {
    display: block;
    padding: 1ex;
}

.bdt-elements-buttons {
    display: inline;
    float: right;
    font-size: 80%;
}

.bdt-elements-buttons a {
    text-decoration: none;
    padding: 1ex;
    color: gray;
    cursor: pointer;
}

.bdt-elements > li:hover a {
    color: black;
}

.bdt-elements-buttons a:hover {
    text-decoration: underline;
}

/* DROPDOWNS */

.bdt-dropdown {
    position: relative;
}

.bdt-dropdown:hover .bdt-dropdown-content {
    display: block;
}

.bdt-dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    z-index: 1;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.bdt-dropdown-content li {
    display: block;
}

.bdt-dropdown-content a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

/* FOOTER */

.bdt-copyright-footer {
    padding: 1ex;
    text-align: center;
    color: grey;
    font-size: 80%;
    font-family: 'Century Gothic';
}

/* OTHER */

.bdt-spacer {
    clear: both;
}

.bdt-card-hidden {
    display: none;
}

.bdt-card-visible {
    display: block;
}

