<!DOCTYPE html>
<html>
	<head>
		<title>BlueDot - Payments</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
		<h1>
			{% if status == 'ok' %}
				The payment via {{ payment_system }} succeeded.
			{% elif status == 'cancel' %}
				The payment via {{ payment_system }} was canceled by user.
			{% elif status == 'error' %}
				There was a problem with payment. It's our fault :(
			{% elif status == 'bad_callback' %}
				There was a problem with {{ payment_system }}.
			{% else %}
				The result is unknown.
			{% endif %}
		</h1>
	</body>
</html>

